body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #565656;
}

#gameContainer {
  display: flex;
  align-items: flex-start;
}

canvas {
  border: 1px solid #000000;
  background-color: #caf0fe;
}

#infoBox {
  width: 100px; /* Set a fixed width for the info box */
  margin-left: 20px;
  padding: 10px;
  border: 1px solid #000;
  background-color: #ffffff;
  font-family: fantasy;
  color: #000000;
}


#controls {
  margin-top: 10px;
  color: white;
  font-family: fantasy;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  font-family: fantasy;
}
